.post-comment-skeleton-loader {
    background-color: var(--comment-bg-primary-color);
    border: 2px solid var(--comment-border-color);
    color: var(--text-primary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-comment-skeleton-loader__avatar {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 42px;
    min-height: 42px;
    background: var(--skeleton-loader-gradient-color);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 50%;
}

.post-comment-skeleton-loader__name {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 32px;
    min-width: 100%;
    background: var(--skeleton-loader-gradient-color);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.post-comment-skeleton-loader__email {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 20px;
    min-width: 100%;
    background: var(--skeleton-loader-gradient-color);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.post-comment-skeleton-loader__body {
    margin-top: 0;
    margin-bottom: 0;
    background: var(--skeleton-loader-gradient-color);
    background-size: 200% 100%;
    min-height: 75px;
    min-width: 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}