.error {
    background-color: var(--error-bg-color);
    border: 2px solid var(--error-border-color);
    border-radius: 10px;
    color: var(--error-text-color);
}

.error__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.error__body {
    color: var(--error-text-color);
    font-size: 1.15rem;
    margin-top: 0;
    margin-bottom: 0;
}