.row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.row_margin_0-10 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.row_margin_0-20 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.row_margin_20-0 {
    margin-top: 20px;
    margin-bottom: 0;
}

.row_margin_0-40 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.row_margin_10-0 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.row_margin_40-0 {
    margin-top: 40px;
    margin-bottom: 0;
}

.row_margin_20-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row_margin_40-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}