:root {
    --bg-primary-color: #fed2ff;
    --bg-secondary-color: #fea8ff;
    --text-primary-color: #39003A;
    --text-secondary-color: #9d00a0;
    --text-tertiary-color: #d245d4;
    --button-bg-primary-color: #d245d4;
    --button-text-primary-color: #39003A;
    --button-border-primary-color: #39003A;
    --button-bg-secondary-color: #ffe6ff;
    --button-text-secondary-color: #39003A;
    --button-border-secondary-color: #fd9dff;
    --button-bg-secondary-active-color: #ffd4ff;
    --button-text-secondary-active-color: #39003A;
    --button-border-secondary-active-color: #fd9dff;
    --button-bg-secondary-disabled-color: #eeceee;
    --button-text-secondary-disabled-color: #39003A;
    --button-border-secondary-disabled-color: #fd9dff;
    --post-bg-primary-color: #ffe6ff;
    --post-border-color: #fd9dff;
    --select-bg-color: #fff;
    --select-text-color: #39003A;
    --select-border-color: #39003A;
    --input-bg-color: #fff;
    --input-text-color: #39003A;
    --input-placeholder-color: #39003a70;
    --input-border-color: #39003A;
    --switch-bg-color: #fff;
    --switch-button-color: #fea8ff;
    --switch-border-color: #39003A;
    --skeleton-loader-gradient-color: linear-gradient(110deg, #febeff 8%, #fecdff 18%, #fdcfff 33%, #fdc5ff 50%);
    --error-bg-color: #ffe6ff;
    --error-border-color: #fd9dff;
    --error-text-color: #39003A;
    --spinner-loader-bg-color: #ffe6ff;
    --spinner-loader-border-color: #fd9dff;
    --spinner-loader-text-color: #39003A;
    --spinner-loader-circle-color: #39003A;
    --spinner-loader-gradient-color: linear-gradient(110deg, #d582d6 8%, #d897da 18%, #f0cdf1 33%, #e3c9e4 50%);
    --comment-bg-primary-color: #ffe6ff;
    --comment-border-color: #fd9dff;
    --post-skeleton-loader-content-bg-color: #ffe6ff;
    --post-skeleton-loader-content-border-color: #fd9dff;
    --scrollbar-thumb-color: #39003A;
    --scrollbar-track-color: #fd9dff;
    --header-menu-color: #39003A;
    --bg-user-info-color: #ffe6ff;
    --border-user-info-color: #fd9dff;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: var(--text-primary-color);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}